/**
    * Our stylesheet file
    * Author: Me
 */

/* ===================== THE HEADER =============================== */

/**********************************  Le navbar *********************/

.dropdown-content{
    width: revert !important;
    margin-top: 150px !important;
}


/*********************** La bannière ***************************/
.img-banner{
    background-size: cover;
}

.carousel-slider{
    height: 525px !important;

}


/** Ajout d'une plice**/
@font-face {
    font-family: 'roboto';
    src: url('polices/roboto/Roboto-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'bauhaus';
    src: url('polices/bauhaus/Bauhaus 93 Regular.ttf') format('ttf');
}


.brand-logo{
    font-family: "Bauhaus 93";
    font-size: 2.5em !important;
    color: rgb(219, 70, 56) !important;
    margin-left: 20px;
    margin-top: 30px;
}
.community{
    color: rgb(0, 138, 235);
}

.nav2{
    margin-top: -10px !important;
    font-weight: bold;
}

.nav-extended{

}

.btn-join, btn-join2{
    background-color: rgb(0, 138, 235) !important;
    font-weight: bold !important;

}

.btn-join:hover{
    background-color: rgb(219, 70, 56) !important;
    color:  white !important;
}

.activeLink{
    color:  rgb(219, 70, 56) !important;
}

h2{
    font-size: 1.5em !important;
    font-weight: bold !important;
}

.welcome{
    font-size: 2.5em !important;
    padding-top: 10px;
}

.nav2 a{
    font-size: 0.9em;
}

.nav2 a:hover{
    background-color: white !important;
    border-bottom:  2px solid rgb(219, 70, 56) !important;
    color:  rgb(219, 70, 56) !important;
}

nav a:hover{
    background-color: white !important;
}

.nav1 a:hover{
    color:  #212121 !important;
    font-weight: bold;
}

/*** ================== STYLE SUR L'UNIVERS ======================= **/
.univers-container{
    padding-top: 40px !important;
    height:680px !important ;
    color: #455a64;
}

.programme-container,.projet-container {
    height: 625px;
    color: white !important;
    background-color: rgb(0, 138, 235) !important;

}

.universe-title, .theme-title, .vision-title, .actu-title{
    color:  rgb(219, 70, 56) !important;
    font-size: 4em !important;
    font-weight: bold;
    font-family: 'Montserrat','Raleway', sans-serif;
}

.head-univers{
    margin-bottom: 20px;
}

.mot-univers{
    font-family: 'roboto', sans-serif;
    color: grey;
    font-size: 1.2em;
}
.underline{
    border-bottom: 2px solid rgb(219, 70, 56) !important;
    width: 15%;
    border-radius: 10px;
}
.underline2{
    border-bottom: 2px solid rgb(219, 70, 56) !important;
    width: 8%;
    border-radius: 10px;
    margin-top: 30px !important;
}

.img-program{
    margin-top: 20px;
}

.sidenav{
    width: 250px;
}

.more-prog{
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    margin-top: -40px;
    color: white;
}
.more-prog:hover{
    color:  rgb(219, 70, 56) !important;
}

.div-prog{
    background: url("../img/img5.jpg");
    background-size: cover;
    height: 625px;
}
.divEvent{
    background: url("../img/img3.jpg");
    background-size: cover;
    height: 625px;
}
.div-proj{
    background: url("../img/img7.jpg");
    background-size: cover;
    height: 625px;
}

.event-container, .projet-content{
    margin-top: -50px;
}
.program-title{
    font-family: 'Raleway';
    font-size: 3em;
}


/*** ======================== STYLE POUR LES THEMATIQUES ===================== **/
.theme-container{
    margin-top: 1440px !important;
}

.theme-title{
    margin-bottom: 30px;
}

.thematique{
    height: 200px !important;
}

.theme{
    font-weight: bold !important;
    text-align: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-color: rgba(4, 25, 26, 0.8) !important;
    font-size: 1.3em !important;
    width: 100%;
    margin-bottom: 20% !important;
    padding: 4px !important;
}

.img-theme:hover{
  transform-style: preserve-3d;
}

/**** ===================   STYLE POUR LES STATS ====================== ***/
.stat-container{
    background-image: url("../img/img5.jpg");
    color: white;
}

.chiffre-stat{
    font-size: 3em;
    font-family: 'Raleway';
    font-weight: bold;
}

.libelle-stat{
    font-size: 1.8em;
    font-family: 'Raleway';
    font-weight: bold;
    margin-top: -70px !important;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(4, 25,26, 0.8) !important;
}

.mot-stat{
    font-family: 'roboto', sans-serif;
    color: snow;
    font-size: 1.2em;
}

.stat-title{
    color:  white !important;
    font-size: 4em !important;
    font-weight: bold;
    font-family: 'Montserrat','Raleway', sans-serif;
}



/**** =================  STYLE POUR LE JOIN US =================== ****/
.join-container{
    background-color: rgb(219, 70, 56) !important;
    height: 250px !important;
}

.mot-join{
    font-family: 'roboto', sans-serif;
    color: snow;
    font-size: 1.5em;
}

.btn-join2:hover{
    background-color: black !important;
    color:  white !important;

}